* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;

}
.post__btns {
    display: flex;
}
.post-enter {
    transform: translateX(-350px);
}

.post-enter-active {
    transform: translateX(0px);
    transition: all 500ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
}
.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}
.page__current {
    border: 2px solid orange;
    font-weight: bold;
}
.navbar {
    height: 50px;
    weight: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: lightgray;
    min-width: 100%;
}
.navbar__links {
    margin-left: auto;
}
.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top:15px;
}
.card-container2 {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0 5px;
    cursor: grab;

}
.robot {
    width: 150px;
}
.am {
    display: flex;
    flex-direction: column;
}


